:root {
	--color-verde: rgba(0, 77, 64, 0.5);
	--color-verdeAzulado: rgb(24,37,54);
	--color-blanco: #e3f2fd;
  }

/*Navbar*/

.navbar-nav a{
	color: var(--color-blanco);
}
nav{
	background-color: #004d40;
	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar-nav{
	text-transform:uppercase;
	color:var(--color-blanco);	
}  
.container-bar{
	width:100%;
	max-width: 55px;
	position: fixed;
    left: 0;
    top: 30%;
}
.container-bar a{
	display: block;
	padding: 15px;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	transition: all 500ms ease;
	color: #e3f2fd;
}
.container-bar #title{
	position: fixed;
	background: #e3f2fd;
	padding: 6px;
	border-radius: 3px;
	font-size: 15px;
	margin-top: -4px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	margin-left: 30px;
}    
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}

/*Socialbar*/

#btn-social{
	display: none;
}
.icon-forward{
	cursor: pointer;
	transition: all 0,4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #e3f2fd;
}
#btn-social:checked ~.icon-forward{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
}
.icon-github{
	background: var(--color-verde);
	border-radius: 0px 5px 0px 0px;
}
.icon-github:hover{
	color: #ec34ca !important;
}
.icon-linkedin{
	background: var(--color-verde);	
}
.icon-linkedin:hover{
	color: #346eec !important;
}
.icon-mail{
	background: var(--color-verde);
}
.icon-mail:hover{
	color: #0983e0 !important;
}
.icon-whatsapp{
	background: var(--color-verde);
}
.icon-whatsapp:hover{
	color: #02f116 !important;
}
.icon-instagram{
	background: var(--color-verde);
	border-radius: 0px 0px 5px 0px;
}	
.icon-instagram:hover{
	color: #cf013fdb !important;
}

/*Body*/

body{
background: var(--color-verdeAzulado);
background: linear-gradient(0deg, rgba(24,37,54,1) 0%, rgba(26,34,53,1) 97%);
}

h1, h2, h3, h4, li, p, a {
	color: var(--color-blanco);
}
.principal-container {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: repeat(3, 100vh);
}

/*AboutMe */

.container-AboutMe {
	grid-column: 2 / 3;
	justify-items: center;
}
.column1 {
	display: grid;
	justify-items: center;
}
.column2 {
	display: grid;
	justify-items: center;
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 1%;
}
.text-i-am {
	font-size: 1.25rem;
    font-weight: 500;
	margin-bottom: 0;
}
#User-name {
	font-size: 3.5rem;
    font-weight: 700;
	color: #e3f2fd;
}
.profession-title-animation {
	color: #e3f2fd;
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	font-size: 2.4vw;
	transform: translateY(0); 
	-webkit-text-stroke: 0.1vw #383d52;
	text-transform: uppercase;
	white-space: nowrap;

}
.profession-title-animation::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	height: 100%;
	color: #00796b;
	-webkit-text-stroke: 0vw #383d52;
	border-right: 2px solid #383d52;
	overflow: hidden;
	animation: animate 3s linear infinite;
}
.Presentation {
	display: flex;
	align-items: center; /* Alineamos verticalmente */
    justify-content: center;
    background-color: var(--color-verde); /* Color de fondo con transparencia */
	margin: auto;
	height: 120px;
	width: 530px;
	border-radius: 10px;
	padding: 15px;
}
#AboutMe-text {
	left: 10px;
	margin: 0;
	padding-bottom: 5px;
	padding-right: 5px;
}

/*Projects*/

.container-projects {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 160px 1fr;
	gap: 3rem;
}
.project1-container * {
	justify-self: start; /* Anula la alineación horizontal centrada para los elementos hijos */
  }
.projects-title{
	margin-top: 130px;
}
.project1-container {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: grid;
	height: 250px;
	background-color: var(--color-verde);
	border-radius: 1rem;
	opacity: 1;
	text-align: start;
	justify-items: center;
}
.project1-img {
	width: 85%; 
	height: auto;
	border-radius: 1rem;
	margin-top: 20px;
	justify-self: center;
}
.project2-container {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 250px;
	background-color: var(--color-verde);
	border-radius: 1rem;
	opacity: 1;
}
.project3-container {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	height: 250px;
	background-color: var(--color-verde);
	border-radius: 1rem;
	opacity: 1;
}
.project-name {
	font-size: 1rem;
	font-weight: 700;
	margin-left: 22px;
}
.container-projects a {
	font-size: 1rem;
	font-weight: 700;
	margin-left: 22px;
	text-decoration: none;
	color: #02f116;
}

/*ContactMe*/

.container-ContactMe {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-blanco);
	height: 65px;
	
}
footer p{
	padding-top: 8px;
	font-size: 0.9em;
	margin: 0%;
	color: black;
}

@keyframes animate 
{ 
	0%,10%,100% 
	{
		width: 0;
	}
	70%,90% 
	{
		width: 100%;
	}
}