/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
:root {
    --primary-color: #00a376; 
    --secondary-color: #fff;
    --text-color: #fff;  
    --secondary-text-color: ;

  }
  
body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background: url(../images/page-bg.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.multilingual-buttons-container {
    position: absolute;
    right: 0%;
    top: 2%;
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid var(--text-color);
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid var(--secondary-color);
}

.main-nav li:hover a,
.main-nav li.active a {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    display: grid;
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: var(--text-color);
}

.cv-button {
    justify-self: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 16px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  .cv-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
  left: 10%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: var(--primary-color);
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: var(--secondary-color);
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: center;
    padding: 80px 7px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: 0.5px;
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}

.left-text p {
    text-align: justify;
}

.left-text h6 {
    font-weight: bold;
    color: #F0E68C
}

.highlight {
    background-color: #007acc;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
  }

/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
}

.scaled-svg {
    width: 70%;
    height: 70%;
  }

 .col-md-3 {
    display: flex;
    justify-content: center;
    padding-left: 0%;
} 

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
.custom-tooltip span {
    visibility: hidden;
    color: #fff;
    position: absolute;
    z-index: 1;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    bottom: 95%; 
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
    transition: opacity 0.3s;
    min-width: 40%;
    max-width: 100%;
}
  
.custom-tooltip:hover span {
    visibility: visible;
    opacity: 1;
}

.custom-tooltip .tooltip-text-html {
    background-color: #ffa600b5;

}

.custom-tooltip .tooltip-text-css {
    background-color: #264ce4c6 ;
}

.custom-tooltip .tooltip-text-js {
    background-color: #f7de1ed4;
}

.custom-tooltip .tooltip-text-react {
    background-color: #61dafbd8;
}

.custom-tooltip .tooltip-text-tailwind {
    background-color: #38b2acd0;
}

.custom-tooltip .tooltip-text-vite {
    background-color: #646cffd0;
}

.custom-tooltip .tooltip-text-git {
    background-color: #f04e32cd;
}

.custom-tooltip .tooltip-text-trello {
    background-color: #0079bfcd;
}
.tech-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  





/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid var(--secondary-color);
    padding-top: 15px;
}

.isotope-toolbar a {
    color: var(--text-color);
}

.isotope-item {
    position: relative;
    width: 48%;
    margin: 1%;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 40px;
  right: 40px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}

.tag {
    color:  black;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 8px;
    display: inline-block;
    font-size: 12px;
}
#tag-html {
    background-color: rgba(255, 166, 0, 0.71); 
}

#tag-css {
    background-color: rgba(38, 77, 228, 0.5); 
}

#tag-react {
    background-color: rgba(97, 218, 251, 0.7); 
}
  
#tag-tailwind {
    background-color: rgba(56, 178, 172, 0.7); 
  }
  
#tag-javascript {
    background-color: rgba(247, 222, 30, 0.8);      
}

#tag-Bootstrap {
    background-color: rgba(87, 35, 100, 0.643);      
}

#tag-firebase {
    background-color: rgba(255, 166, 17, 0.5);
}

.project-description {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
    display: block;
    color: #7a7a7a;
    margin-top: 15px;
    margin-bottom: 8px;
}

.project-description a {
    color: var(--primary-color); 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease;
}
  
.project-description a:hover {
    text-decoration: underline; 
}
  
figure.snip1321 .Project-button {
  position: relative!important;
  font-size: 16px;
  background-color: var(--primary-color);
  width: 50%;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: var(--text-color);
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  background-color: rgba(255, 255, 255, 1);
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
    position: relative;
    width: 75%;
    right: 0%;
    left: 25%;
}
.container-contact {
    width: 60%;
    justify-self: center;
}
.row-form {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
}
#form input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#form input:focus {
    outline: none;
    box-shadow: none;
}

#form textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#form textarea:focus {
    outline: none;
    box-shadow: none;
}

#form {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: var(--secondary-color);
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }

/* Contact Me */

    section.contact-me {
        width: 100%;
        right: 0;
        left: 0;
    }
    .container-contact {
        width: 100%;
    }
}

@media screen and (max-width: 575px) { 
/* My Work Section */
    .isotope-toolbar {
        flex-wrap: wrap;
    }
    .isotope-toolbar span {
        margin-right: 6px;
        font-size: 14px;
    }
    figure.snip1321 figcaption {
        left: 10px;
        right: 10px;
    }
    figure.snip1321:after {
        top: 15px;
        left: 5px;
        right: 5px;
        bottom: 15px;
    }
    figure.snip1321 h4 {
        margin-top: 2px;
        margin-bottom: 10px;
        color: #232323;
    }
    .tag {
        padding: 5px 10px;
        margin-right: 0px;
        font-size: 12px;
    }
    .project-description {
        margin-top: 7px;
        line-height: normal;
    }
    figure.snip1321 .github-button {
        font-size: 14px;
        width: 45%;
        height: 35px;
        line-height: 35px;
    }
    figure.snip1321 figcaption {
        min-height: 80%;
    }
}